@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

html,
body{
    overflow-x: hidden;
    background-color: #141414;
    font-family: 'Barlow', sans-serif;
}

.grid-container{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 100vw;
    grid-gap: 50px;
    color: white;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1f1f1f;

}


.item .text{
    font-size: 100px;
    margin-top: 5%;
    margin-right: 60%;
}
